body {
  font-family: "Roboto";
}

.raw-justify-end {
  justify-content: end;
}


.raw-rating-button {
  padding: 0;
  color: #343434;
border: none;
background: none;
text-decoration: underline;
margin-right: 25px;

}

.raw-star-row {
  margin-top: 10px;
  margin-bottom: 20px;
}

.raw-rating-button:hover {
  color:orange;
}

.raw-characteristc-title {
  align-content: flex-end;
}


progress[value] {

  width: 250px;
  height: 8px;
  -webkit-appearance: none;
   appearance: none;
}


progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}

progress[value]::-webkit-progress-value {

  border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}



.raw-ratings-first-column{

  align-items: left;

}


.slidecontainer {
  width: 250px; /* Width of the outside container */

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 250px; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */


}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 12px; /* Slider handle height */
  cursor: pointer;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(57, 131, 79);
}


.raw-review-buttons {
  background-color: white;
  color: black;
  border-radius:0;
  border-width: 1px;
  padding: 15px;
  font-size: small;
  font-weight: 500;
  margin: 8px;

}

.raw-review-buttons:hover {
  background-color: black;
  color: white;
}


.raw-review-row {
  margin-bottom: 50px;
}

.raw-individual-review {
  margin-bottom: 50px;
  border-bottom-color: black;
  border-bottom-width: 0.5;
}

.raw-hr {
  height: 15px;
  background: #fff;
  color: black;
}
